* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #393E46 !important;
    color: #EEEEEE;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

::-webkit-scrollbar {
    background-color: #EEEEEE;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #393E46;
    border: 1px solid #222831;
    border-radius: 2px;
}

header {
    width: 100%;
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222831;
}

header .logo a {
    /* border: 2px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
}

header .logo img {
    width: 100px;
    height: 60px;
    object-fit: contain;
}

header .logo h2 {
    font-size: 2.4rem;
    font-weight: 400;
    color: #cecece;
    margin: 0;
}

/* 
header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    font-size: 1rem;
}

ul a{
    text-decoration: none;
    color: #EEEEEE;
} */


footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #222831;
    color: #EEEEEE;
    font-size: 1rem;
}

footer p {
    margin: 0;
}

@media (min-width: 1500px) {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }

    header .logo img {
        width: 140px;
        height: 80px;
    }

    header .logo h2 {
        font-size: 3.1rem;
    }

    footer {
        font-size: 1.6rem;
    }
}